html, body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Overpass", sans-serif;

}

body {
    background: url("images/background.jpg");
    width: 100vw;
}


input, label {
    display: block;
}

#wrapper {
    overflow: hidden;
    margin: 100px auto;
    width: 500px;

}

section {
    height: 350px;
    background: #34495e;
}

#pads {
    /*background: blue; */

    width: 350px;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    float: left;

    display: inline-flex;

    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    align-content: flex-start;
}

button {

    background: #bdc3c7;
    border: 1px solid black;
    border-radius: 8px;
    
    margin: 10px;
    padding: 5px;

    width: 80px;
    height: 80px;

    outline: none;
    transition: all .07s ease;
}

button:active {
    background: #f1c40f;
}

button kbd {
    display: block;
    margin: 0 auto;
    font-size: 24px;
}

#volume-control {


    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;



    margin: 0 auto;


    width: 150px;
    float: left;
}

#volume-control label {
    display: block;
    margin: 0 auto;
    padding: 50px 0px;
    font-size: 16px;
    text-align: center;
}

.slider-wrapper {
/*  display: inline-block;*/
  width: 20px;
  height: 150px;
  padding: 0;
  margin: 0 auto;

}

.slider-wrapper input {
  width: 150px;
  height: 20px;
  transform-origin: 75px 75px;
  transform: rotate(-90deg);
  padding: 0px;


}

